.location__collapse{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.location__collapse>div{
    width: 50%;
   
}

@media screen and (max-width: 768px)
{
    .location__collapse{
        
        width: 220%;
        flex-direction: column;
         
    }
    .location__collapse>div{
        width: 45%;
        margin-left: -13px;
       
    }
    
}
    
