#location__info{
    margin:  0 20px 0 20px;
}
details {
    padding: 20px;
    user-select: none;
   
}

details[open] summary .fa-chevron-down {
    transform: rotate(-180deg);
}

summary {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #FF6060;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
    padding: 2% 2% 2% 4%;
    transform: translate(-0%, 20%);
}

.fa-chevron-down {
    transition: all 0.5s;
}

details p, details ul {
    background-color: #F7F7F7;
    border-radius: 5px;
    margin-top: 0;
    padding: 6% 2% 6% 3%;
}

details p, details li{
    font-weight: 400;
    font-size: 12px;
    color: #FF6060;
}

details ul {
    list-style: none;
}


@media screen and (min-width: 768px) 
{
    #location__info{
        margin:  0 40px 0 30px;
    }
    summary {
        padding: 1% 2%;
    }

    details p, details ul {
        padding: 3% 2% 2% 2%;
    }
    
}


@media screen and (min-width: 1200px)

{

    .location__wrapper{
        display : flex;
        flex-direction: row;     
        width: 100%;
        justify-content: space-between;   
    }
    #location__info{
        width: 100%;
        padding: 10px 20px 0 0 ;
        justify-content: flex-start;
    }
    .location__info__title{
        font-size: 24px;
    }
    details li{
        font-size: 18px;
    }
    details{
        width: 100%;
    }
    .location__info__text{
        font-size: 18px;
       
    }
}
